In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote

In [2]:
## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'Krug1998!' # whatever password you chose during MySQL installation.

connection = f"mysql+pymysql://{username}:{urlquote(password)}@localhost/books"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [3]:
users = pd.read_csv('data/users.csv')
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   first_name  3 non-null      object
 2   last_name   3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [4]:
books = pd.read_csv('data/books.csv')
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6 non-null      int64
 1   title      6 non-null      object
 2   author_id  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

In [5]:
authors = pd.read_csv('data/authors.csv')
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5 non-null      int64
 1   author_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [6]:
favorites = pd.read_csv('data/favorites.csv')
favorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  7 non-null      int64
 1   book_id  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

In [7]:
users.to_sql('users', engine, if_exists = 'replace')

3

In [8]:
authors.to_sql('authors', engine, if_exists = 'replace')

5

In [9]:
books.to_sql('books', engine, if_exists = 'replace')

6

In [10]:
favorites.to_sql('favorites', engine, if_exists = 'replace')

7

In [11]:
q = '''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
'''

pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

In [14]:
 ![png](ER_Diagram.png)

zsh:1: unknown file attribute: _